.Mainbody {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 
      'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
      overflow: hidden;
      background-color: rgb(0,0,90) ;
}
.heading {
    position: absolute;
    text-align: center;
    top: 30vh;
    width: 100vw;
    overflow: hidden;
}
.heading h1 {
    color: white;
    font-size: 70px;
    overflow: hidden;
}
.heading h2 {
    color: white;
    font-size: 20px;
    overflow: hidden;

}
#particles-js {
    background: rgb(0, 0, 80);
    height: 100vh;
    overflow: hidden;
}
.buttons{
    margin-top: 10px;
    margin-left: 20px;
    height:75px;
    color:white;
    background-color: transparent;
    border:transparent;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;

}

.buttons2{
    margin-top: 10px;
    margin-left: 2vw;
    height:75px;
    color:white;
    background-color: transparent;
    border:transparent;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}
.container{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    overflow: hidden;

}

@media (max-width: 840px){
.heading h1{
    font-size:50px;
}
.heading h2{
    font-size: 15px;
}
}
@media (max-width: 600px){
    .heading h1{
        font-size:30px;
    }
    .heading h2{
        font-size: 12px;
    }
    }







.headingAbout {
    position: absolute;
    text-align: center;
    top: 5vh;
    width: 100vw;
    height: 100vh;
    font-size: 20px;
    
}
.headingAbout h1{
    color: white;
    font-size: 80px;
    
}
.headingAbout p{
    color: white;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    width:50vw;

}
.aboutMeBody{
    background-color: rgb(0,0,90) ;
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 20px;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 
      'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
    
}
@keyframes ball{
    0% {left:60vw;top:0px;}
    16.6%{left: 10vw;top: 0px;}
   33.2%{left:10vw;top:90vh}
   49.8%{left:60vw;top:90vh}
   66.4%{left:10vw;top:90vh}
   83%{left: 10vw;top: 0px;}
}
.ball{
    width: 100px;
    left:60%;
    top:0;
    height: 100px;
    border-radius: 100px;
    background-color: white;
    animation-name: ball;
    animation-duration: 13.3s;
    position:absolute;
    animation-iteration-count: infinite;
    opacity: 60%;

}
@keyframes ball2{
    0% {right:60vw;top:0px;}
    16.6%{right: 10vw;top: 0px;}
   33.2%{right:10vw;top:90vh}
   49.8%{right:60vw;top:90vh}
   66.4%{right:10vw;top:90vh}
   83%{right: 10vw;top: 0px;}
}



.ball2{
    width: 100px;
    right:60%;
    top:0;
    height: 100px;
    border-radius: 100px;
    background-color: white;
    position: absolute;
    animation-name: ball2;
    animation-duration: 13.3s;
    animation-iteration-count: infinite;
    opacity: 60%;
}
.aboutButtons{
    margin-top: 1vh;
    margin-left: 1vh;
    height:60px;
    color:white;
    background-color: transparent;
    border:transparent;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    white-space: nowrap;
    border: 3px solid hwb(0 100% 0% / 0.5);
    
}
.designBall{
    background-color: white;
    position: fixed;
    bottom: -30vh;
    left: -30vh;
    opacity: 60%;
    width:40vw;
    height: 40vw;
    border-radius: 100%;
}
.designBall2{
    background-color: white;
    position: fixed;
    top: -30vh;
    right: -30vh;
    opacity: 60%;
    width:40vw;
    height: 40vw;
    border-radius: 100%;
}


@media (max-width: 1300px){
    .ball{
        background-color: transparent;
    }
    .ball2{
        background-color: transparent
    }
    .headingAbout p{
        font-size: 20px;
    }
    .headingAbout h1{
        font-size: 60px;
    }
    .aboutButtons{
        height: 50px;
        font-size: 33px;
    }
    .designBall, .designBall2{
        width: 55vw;
        height: 55vw;
    }
}

@media (max-width: 800px){

    .headingAbout p{
        font-size: 13px;
    }
    .headingAbout h1{
        font-size: 40px;
    }
    .designBall, .designBall2{
        width: 90vw;
        height: 90vw;
    }
}







.projectBody{
    background-color: rgb(0,0,90) ;
    font-family: -apple-system, BlinkMacSystemFont, 
      'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
}
.projectTitle{
    color: white;
    font-size: 70px;
    text-align: center;
    font-weight: bold;
}
.projectButton{
    margin-top: 1vh;
    margin-left: 1vh;
    height:60px;
    color:white;
    background-color: transparent;
    border:transparent;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    white-space: nowrap;
    border: 3px solid hwb(0 100% 0% / 0.5);
}

#projectContainer{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
}

.box1, .box2, .box3{
    display: inline-table;
    font-size: 10;
    height: 800px;
    width: 500px;
    background-color: rgba(0, 0, 226, 0.568);
    box-shadow:20px 20px 2px rgba(0, 0, 255, .1);
}
.box1, .box2, .box3{
    margin: 0 auto;
    margin: 2em;
    border-radius: 5%;
}



@media (max-width: 650px){
    #projectContainer{
        font-size: 10px;
    }
    .box1, .box2, .box3{
        height: 400px;
        width: 250px;
    }
    .projectTitle{
        font-size: 40px;
    }
    .projectButton{
        font-size: 25px;
        height: 37.5px;
    }
}





.board1{
    text-align: center;
    background-color: blue;
    height: 500px;
}